@model ServiceProvider.Models.Guide
@{
    ViewBag.Title = "Update";
}

@using (Html.BeginForm())
{

    @Html.HiddenFor(model => model.Id)
    @Html.Partial("_GuideField")

    <button class="btn btn-info button"> Update </button>
    <button class="btn btn-danger button"> Cancel </button>

}