

    <label for="servicename" class="col-sm-2">Service Name :</label>
    <input type="text" name="servicename" placeholder="Service Name">
    
    <br /><br />
    <label for="city" class="col-sm-2">City :</label>
    <input type="text" class="input" name="city" placeholder="City">
    <br /><br />
    <label for="country" class="col-sm-2">Country :</label>
    <input type="text" class="input" name="country" placeholder="Country">
    <br /><br />


